body {
  font-size: 12px;
  font-family: Helvetica;
  color: #444444;
}
.container {
  max-width: 1128px;
}
a {
  font-size: 12px;
  color: #00ccff;
  text-decoration: none;
}
p {
  font-size: 20px;
}
a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%;
}
.cabecalho {
  width: 100%;
  height: 48px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.logo {
  float: left;
}
.menu {
  float: right;
}
li {
  float: right;
  display: inline;
  font-size: 14px;
  margin-left: 24px;
  margin-top: 12px;
  list-style-type: none;
}
li a {
  font-size: 20px;
  color: #999999;
}
.banner {
  height: 450px;
  margin-bottom: 55px;
  position: relative;
}
.box{
  width: 480px;
  padding: 30px 48px 30px 48px;
  position: absolute;
  top: 46px;
  background-color: rgba(0,0,0,0.6);
}
.box p {
  font-size: 20px;
  color: #FFFFFF;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 200;
  color: #FFFFFF;
}
.rodape {
  width: 100%;
  margin-top: -30px;
  float: left;
  font-size: 30px;
}
.rodape p {
  margin-bottom: 0;
}
small {
  font-size: 18px;
}
.rodape a {
  font-size: 15px;
}
