body{
    font-size: 12px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #444444;
}

.container {
    max-width: 1128px;;
}

a {
    color: #00ccff;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
    color: tomato;
}

p{
    font-size: 20px;
}

img {
    max-width: 100%;
}

.cabecalho {
    width: 100%;
    height: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    float: left;
}

.menu {
    float: right;
}

ul.bar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: skyblue;
    width: 100%;

}

.bar li {
    float: left;
    border-right: 1px solid #ffffff;
}

.bar li a {
    display: block;
    color: #4d4a4a;
    font-weight: bolder;
    font-size: 15px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: tomato;
} 



/* .nav {
    position: absolute;
    margin-left: 0px;
} */

/* .menu{ */
    /* float: right; */
    /* display: block; */
/* } */

.banner{
    height: 450px;
    margin-bottom: 55px;
    position: relative;
}

.box {
    width: 480px;
    padding: 30px, 48px, 30px, 48px;
    position: absolute;
    top: 48px;
    background-color: rgba(0, 0, 0, 0.6);
}

.box p {
    font-size: 20px;
    color: #FFFFFF;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 200;
    color: #FFFFFF;
}

.rodape {
    width: 100%;
    margin-top: -30px;
    margin-bottom: 30px;
    float: left;
    font-size: 30px;
}

.rodape p {
    margin-bottom: 0;
}

small {
    font-size: 18px;
}

.rodape a {
    font-size: 15px;
}






