body{
    font-size: 12px;
    font-family:Helvetica;
    color: #444;
}

.container{
    width: 1128px;
}

a{
    color: #00ccff ;
    text-decoration: none;
    font-size: 12px;
}

a:hover{
    text-decoration: underline;
}

p{
    font-size: 20px;
}

.cabecalho{
    width: 100%;
    height: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo{
    float: left;
}

.menu{
    float: right;
}

ul{
    float: right;
}
li{
    display: inline;
    font-size: 14px;
    margin-left: 24px;
    margin-top: 12px;
    list-style: none;
}

li a{
    font-size: 20px;
    color: #999;
}

.banner{
    height: 450px;
    margin-bottom: 55px;
    position: relative;
}

.box{
    width: 480px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 60px;
}

.box p{
    font-size: 20px;
    color: #fff;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 200;
    color: #fff;
}

.rodape{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    font-size: 30px;
}

.rodape p{
    margin: 0;
}

.rodape small{
    font-size: 18px;
}

.rodape a{
    font-size: 15px;
}